/* ----------------------------------------------------------------------- */
@font-face {
  font-family: Zetta;
  src: local("Zetta"), /* проверяем наличие шрифта в ОС пользователя */ url(../fonts/Zetta.ttf);
  
  /* имя шрифта для CSS правил */
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
  font-family: Rain;
  src: local("Rain"), /* проверяем наличие шрифта в ОС пользователя */ url(../fonts/Rain.ttf);
  
  /* имя шрифта для CSS правил */
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
  font-family: departament;
  src: local("departament"), /* проверяем наличие шрифта в ОС пользователя */ url(../fonts/departament.ttf);
  
  /* имя шрифта для CSS правил */
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
  font-family: Citrica;
  src: local("Citrica"), /* проверяем наличие шрифта в ОС пользователя */ url(../fonts/Citrica.ttf);
  
  /* имя шрифта для CSS правил */
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
  font-family: Toxic;
  src: local("Toxic"), /* проверяем наличие шрифта в ОС пользователя */ url(../fonts/Toxic.ttf);
  
  /* имя шрифта для CSS правил */
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
  font-family: Air;
  src: local("Air"), /* проверяем наличие шрифта в ОС пользователя */ url(../fonts/Air.ttf);
  
  /* имя шрифта для CSS правил */
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
  font-family: Peppers;
  src: local("Peppers"), /* проверяем наличие шрифта в ОС пользователя */ url(../fonts/Peppers.ttf);
  
  /* имя шрифта для CSS правил */
  /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
/* ----------------------------------------------------------------------- */
body {
  background: #C4C9E1 !important;
}
.wrapper {
  background: #777;
  border-radius: 4px;
  border: none;
}
.my-panel-body {
  background: #C4C9E1;
  border-radius: 4px;
  margin-bottom: 20px;
}
.myHeading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  font-family: Citrica;
  font-size: 20px;
  letter-spacing: 3px;
  color: #fff;
  background: rgba(22, 22, 22, 0.8);
  border-radius: 4px;
  overflow: hidden;
}
.myHeading button {
  font-family: Citrica;
  letter-spacing: 2px;
  width: 15%;
  margin-left: 10px;
  border: none;
  float: right;
  outline: none;
}
.myHeading button i {
  font-size: 16px;
  padding: 0 10px;
}
.myHeading .adminHello span {
  font: 20px Zetta;
  color: red;
  font-style: italic;
}
.myHeading .adminHello button {
  float: none;
}
.myHeading-admin {
  font-family: Citrica;
  font-size: 20px;
  letter-spacing: 3px;
  color: #fff;
  background: rgba(22, 22, 22, 0.8);
  border-radius: 4px;
  overflow: hidden;
}
.myHeading-admin button {
  font-family: Citrica;
  letter-spacing: 2px;
  width: 15%;
  margin-left: 10px;
  border: none;
  float: right;
  outline: none;
}
.myHeading-admin button i {
  font-size: 16px;
  padding: 0 10px;
}
.myHeading-admin .adminHello span {
  font: 20px Zetta;
  color: red;
  font-style: italic;
}
.myHeading-admin .adminHello button {
  float: none;
}
.panel-info {
  font: 24px Citrica;
  letter-spacing: 3px;
  font-weight: bold;
}
.panel-info button {
  letter-spacing: 3px;
}
.searching_div {
  width: 50%;
  margin: 15px 15px;
}
.searching_div input[type='text'] {
  width: 50%;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 auto;
}
.galery-block {
  padding: 5px 15px;
  position: relative;
}
.galery-block h4 {
  font: 22px Peppers;
  letter-spacing: 3px;
}
.galery-block p {
  font-family: Zetta;
}
.galery-block h3 {
  font: 28px Citrica;
  color: #970013;
  letter-spacing: 3px;
}
.galery-block img {
  float: right;
  padding: 0 0 0 10px;
  width: 190px !important;
  height: 120px !important;
  cursor: pointer;
}
.galery-block .forButton {
  text-align: center;
}
.galery-block .forButton button {
  font-family: Citrica;
  letter-spacing: 2px;
  font-weight: bold;
  outline: none;
  z-index: 999;
  border: none;
  width: 50%;
  margin: 25px auto 5px;
}
.galery-block .forShow {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 4px;
  padding: 50px 30px;
  background: rgba(22, 22, 22, 0.8);
  color: #fff;
  overflow: auto;
}
.for-pagination {
  text-align: center;
}
.for-pagination .active a {
  background: #333;
  color: #fff;
}
.goToProducts {
  outline: none;
  margin-left: 30px;
}
.myTable {
  margin-top: 100px;
  font: 22px Citrica;
}
.myTable .minus,
.myTable .plus {
  width: 30px;
  margin: 0 10px;
}
td.descriptions {
  overflow: hidden;
}
.admin-product-table {
  background: #fff;
  text-align: center;
}
.admin-product-table th {
  text-align: center;
}
.myNav {
  background: #999;
  width: 100%;
  border-radius: 4px;
}
.myNav li a {
  color: #fff;
  transition: color .3s;
}
.myNav li:hover a {
  color: #000;
}
.myNav li .active {
  color: #fff;
  border-radius: 4px;
}
.myNav li .active a {
  background: #444;
}
.form-category form input[type='button'] {
  width: 100%;
  margin: 10px 0;
}
.form-category .categoryTable {
  border-radius: 4px;
  background: #fff;
  width: 100%;
  text-align: center;
}
.form-category .categoryTable .category-btn button {
  width: 60%;
}
.for-phone {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(11, 11, 11, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;
}
.for-phone .form-order {
  width: 50%;
  margin: 20% auto 0;
}
.for-phone .form-order input {
  width: 60%;
  display: block;
  margin: 5px auto;
}
.for-phone .form-order h4 {
  color: #fff;
}
.tableOrders {
  background: #fff;
}
.tableOrders th {
  background: lightblue;
  text-align: center;
}
.tableOrders td {
  text-align: center;
  vertical-align: middle;
}
.tableOrders .tableForOrders td {
  width: 14.28571429%;
  text-align: center;
  color: darkblue;
  background: #D2FFE7;
}
.tableOrders .tableForOrders td span {
  color: red;
}
.myIframe {
  display: none;
}
.formForInputFile {
  margin: 20px auto;
}
.formForInputFile input[type='submit'] {
  margin-top: 10px;
}
.adminForm {
  background: #999;
}
.adminForm #myForm {
  width: 40%;
  margin: 25% auto 0;
}
.adminForm #myForm input {
  margin-top: 5px;
}
.ForRegForm {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(11, 11, 11, 0.8);
  z-index: 9999;
  text-align: center;
}
.ForRegForm .regForm {
  width: 30%;
  margin: 25% auto;
}
.ForRegForm .regForm input {
  font: 22px Citrica;
  display: block;
  margin-top: 5px;
  width: 100%;
}
.forLogForm {
  padding: 0;
  margin: 0;
}
.forLogForm .logForm {
  margin: 30% 0 0;
}
.forLogForm .logForm input,
.forLogForm .logForm button {
  font: 16px Citrica;
  display: block;
  width: 100%;
  margin-top: 5px;
}
.for-slider {
  background: #444;
  padding: 30px 15px;
  margin: 70px auto 0;
  border-radius: 4px;
}
.top_slider {
  position: relative;
  width: 100%;
}
.top_slider img {
  max-width: 95%;
  height: auto;
}
.sorting-searching {
  margin: 5px auto;
  text-align: center;
}
.sorting-searching select {
  font: 16px Citrica;
  width: 25%;
}
