<!DOCTYPE html>
<html ng-app='mainApp'>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Lesson 86 Shop</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/media.css" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="shortcut icon" href="favicon.png"/>
	<script src="https://use.fontawesome.com/c3d1976be9.js"></script>
	<script src='angular/angular.js'></script>
	<!-- <script src='angular/angular.min.js'></script> -->
	<script src="jquery.js"></script>
	<script src="js/script.js"></script>
	<script src='module/cart.js'></script>
	<script src='module/product.js'></script>
	<script src='module/pagination.js'></script>
	<script src='module/category.js'></script>
	<script src='module/order.js'></script>
	<script src='module/admin.js'></script>
	<script src='module/main.js'></script>
</head>
<body ng-controller="mainCtrl" ng-init="showAdminProducts()" >
	
	<!-- <div id="wrapper"> -->
		<div class="container wrapper">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary " ng-controller="productCtrl">
						<div ng-controller="cartCtrl" class="my-panel-body">
							<div class="panel-heading myHeading">
								{{current.headingView}}
								<!-- <button ng-click="showProduct()" class="btn btn-info goToProducts" ng-hide="current.currentView == 'view/products.html'">Товари</button> -->
								<button class="btn btn-success" ng-click="showAddProduct()" ng-hide="current.currentView == 'viewAdmin/addProduct.html'"> Додати товар </button>
								<button class="btn btn-success" ng-click="showAdminOrders()" ng-hide="current.currentView == 'viewAdmin/order.html'"> Замовлення </button>
								<button class="btn btn-success" ng-click="showAdminProducts()" ng-hide="current.currentView == 'viewAdmin/adminProducts.html'"> Повернутись</button>
								
								<div class="adminHello" ng-controller="userCtrl">
									<h5>Вітаємо на сайті: <span>  {{username | uppercase}}.</span></h5>
									<button class="btn btn-danger btn-xs logout" ng-click="logout()">Розлогуватись</button>
								</div>
								<!-- <button ng-click="showCart()" class="btn btn-info cartButton">
								<i class="fa fa-shopping-cart fa-lg"></i> Корзина <span class="badge" ng-show="cart.length > 0">{{cart.length}}</span></button> -->
							</div>
							
							<div class="panel-body">
								<div class="col-md-2">
									<ul class="nav nav-pills nav-stacked myNav">
									  <li role="presentation" ng-class="{active: current.currentView == 'viewAdmin/adminProducts.html'}"><a href="#" ng-click="showAdminProducts()">Товари</a></li>
									  <li role="presentation" ng-class="{active: current.currentView == 'viewAdmin/adminCategory.html'}"><a href="#" ng-click="showAdminCategory()">Категорії</a></li>
									  <li role="presentation" ng-class="{active: current.currentView == 'viewAdmin/order.html'}"><a href="#" ng-click="showAdminOrders()">Замовлення</a></li>
									  <li role="presentation"><a href="#">Коментарі</a></li>
									</ul>
								</div>
								<div class="col-md-10" ng-include="current.currentView" scope="" onload="">
									
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		
	<!-- </div> --> <!-- finish wrapper -->
	
</body>
</html>