<!-- <div ng-controller="orderCtrl"> -->
	<table class="table table-bordered tableOrders">
		<thead>
			<tr>
				<th>Дата Замовлення</th>
				<th>Клієнт</th>
				<th>Телефон / Ел. адреса</th>
				<!-- <th></th> -->
				<th>Замовлення</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in filterOrders | orderBy: sortparam">
				<td>{{item.date}}</td>
				<td>{{item.client}}</td>
				<td>{{item.phone}}<br>{{item.email}}</td>
				<!-- <td></td> -->
				<td>
					<table  class="tableForOrders table table-bordered">
						<tr>
							<th>Назва</th>
							<th>Модель</th>
							<th>Категорія</th>
							<th>Кількість</th>
							<th>Сума</th>
							<th>Hа складі</th>
							<th><button class="btn btn-danger btn-xs" ng-click="removeOrder(item)">Видалити</button></th>
						</tr>
						
							<tr ng-repeat="orders in item.order" class="tableForOrders">
								<td class="td" ng-class="{primaryTd:orders.isItDone == true}">{{orders.name}}</td>
								<td class="td" ng-class="{primaryTd:orders.isItDone == true}">{{orders.model}}</td>
								<td class="td" ng-class="{primaryTd:orders.isItDone == true}">{{orders.category}}</td>
								<td class="td" ng-class="{primaryTd:orders.isItDone == true}">{{orders.newcount}}</td>
								<td class="td" ng-class="{primaryTd:orders.isItDone == true}"><span>{{orders.newprice}}</span></td>
								<td class="td" ng-class="{primaryTd:orders.isItDone == true}">{{orders.count}}</td>
								<td ng-class="{primaryTd:orders.isItDone == true}"><button class="btn btn-success btn-xs" 
								ng-click="doneOrder(orders,$event,item)"
								ng-disabled="orders.isItDone == true"
								ng-class="{primary:orders.isItDone == true}">Виконати</button>
								<button class="btn btn-danger btn-xs" ng-click="removeItemInOrder(orders)"
								ng-class="{primary:orders.isItDone == true}"
								ng-disabled="orders.isItDone == true">Відмовити</button></td>
							</tr>
						
					</table>
				</td>
			</tr>
		</tbody>
	</table>
<!-- </div> -->