<div class="about">
	<h2>Детальний опис проекту {...}</h2>
	<div class="col-md-4 col-sm-4 leftPanel">
		<h4>Використані технології {...}</h4>
		<ul>
			<li>Javascript;</li>
			<li>Angular;</li>
			<li>JQuery = {
				<ul>
					<li>JQuery UI <span class="simple">:</span> <span>true</span></li>
				</ul>
				}
			</li>
			<li>Node.js = {
				<ul><!-- <span>NPM Instals : true</span> -->
					<li>Express <span class="simple">:</span> <span>true</span>,</li>
					<li>Cookie <span class="simple">:</span> <span>true</span>,</li>
					<li>Session <span class="simple">:</span> <span>true</span>,</li>
					<li>Parsers (cookie, body) <span class="simple">:</span> <span>true</span>,</li>
					<li>Multer <span class="simple">:</span> <span>true</span>,</li>
					<li>Passport-local <span class="simple">:</span> <span>true</span>,</li>
					<li>Passport-facebook <span class="simple">:</span> <span>true</span></li>
				</ul>
				}
			</li>
			<li>AJAX;</li>
			<li>HTML5;</li>
			<li>Less = {
				<ul>
					<li>CSS3 <span class="simple">:</span> <span>true</span></li>
				</ul>
				}
			</li>
			<li>Bootstrap;</li>
			<li>Mongodb = {
				<ul>
					<li>Mongoose <span class="simple">:</span> <span>true</span></li>
				</ul>
				}
			</li>
			<li>UI / UX Design;</li>
		</ul>
	</div>
	<div class="col-md-8 col-sm-8">
		<div class="img">
			<img src="images/rezume.jpg" alt="">
			<img src="images/quality.png" alt="" class="quality">
		</div>
		<div class="description">
			
			<h3>Можливості Клієнта :</h3>

			<li>Можливість реєстрації за допомогою реєстраційної форми або аккаунта з Facebook ;</li>
			<li>Можливість переходу в особистий кабінет, зміна фото (у власному кабінеті) та перегляд власних замовлень ;</li>
			<li>Можливість оформлення замовлення як звичайному корустувачу так і зареєстрованому ;</li>
			<li>Перехід у "корзину" для збільшення, зменшення кількості товару, видалення та власне оформлення замовлення ;</li>
			<li>Можливість відслідковування власного замовлення (виконано чи не виконано) ;</li>
			<li>Можливість читати повідомлення від адміністратора ;</li>
			<li>Сортувати товари по категоріям ;</li>
			<li>Пошук товару по назві (фірма) ;</li>
			<li>Перегляд конкретного товару при відповідному "кліку" по зображенні товару ;</li>

			<h3>Можливості Адміністратора :</h3>
			<h6>( При наявності login & password =)  )</h6>
			<li>Перехід до адміністрування через "/admin" ;</li>
			<li>Перегляд, редагування, додавання товару, додавання фото товару і т.д. ;</li>
			<li>Перегляд, видалення як цілого так і частини замовлень, виконяння замовлення ;</li>
			<li>Надсилання листа клієнту ;</li>
			<li>Перегляд усх користувачів та їх замовлень ;</li>
			<li>Перегляд, редагування, додавання нових категорій товару ;</li>
			<li>При оформленні замовлення клієнтом, на "складі"" кількість товару зменшується (в перегляді замовлень це відображається) ;</li>

			<h3>Цікаві технічні рішення :</h3>
		</div>	
	</div>
	<div class="col-md-12 contacts">
		<h3>Контакти : <i class="fa fa-male" aria-hidden="true" title="Правіше"></i> <i class="fa fa-mobile" aria-hidden="true" title="Ще трішки правіше"></i> <i class="fa fa-envelope-o" aria-hidden="true" title="І ще раз правіше"></i> <i class="fa fa-skype" aria-hidden="true" title="Ще зовсім трішки в право!"></i> <i class="fa fa-arrow-right " aria-hidden="true" title="Оооось там! =)"></i></h3>
		<div>
			<h4><span>var</span> full_name = <span class="forstr"> Ohorenko Volodymyr </span>; </h4>
			<h4><span>var</span> phone = <span class="forstr"> +38 (093) 55 44 333 </span>; </h4>
			<h4><span>var</span> email = <span class="forstr"> expirient@gmail.com </span>; </h4>
			<h4><span>var</span> skype = <span class="forstr"> expirient </span>;</h4>
		</div>
		<!-- <div>
			<h4><span>var </span> get_full_name = {</h4>
			<h4 class="forobj">firstname : <span class="forstr">Vladymyr</span>,</h4>
			<h4 class="forobj">lastname : <span class="forstr">Ohorenko</span></h4>
			<h4>}</h4>
		</div> -->
	</div>
</div>